header{
    margin-top: 10px;
    font-size: xx-large;
    color:rgb(142, 142, 142);
    font-weight: 600;
    flex-direction: column ;
    border-radius: 10px;
    box-shadow: 
   12px 12px 16px 0 rgba(0, 0, 0, 0.25),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
   background-color: rgba(245, 245, 245, 0.976);
   justify-content: center;
   padding: 10px;
   padding-left: 50px;
   padding-right: 50px;
}

body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(188, 188, 188, 0.976);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.calc-body{
    width: 340px;
    height:530px;
    padding-top: 5px;
    background-color: rgba(245, 245, 245, 0.976);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 
   12px 12px 16px 0 rgba(0, 0, 0, 0.25),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    
}
.calcui{
    width: 310px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 10px;
    background-color: rgba(245, 245, 245, 0.976);
    
}

button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:larger;
    color:rgb(142, 142, 142);
    background-color: rgba(245, 245, 245, 0.976);
    width: 90px;
    height: 50px;
    box-shadow: 
   12px 12px 16px 0 rgba(0, 0, 0, 0.25),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
   background-color: rgba(245, 245, 245, 0.976);
   border-color: transparent;
   border-radius: 10px;

}

.calcdisp{
    font-size:x-large;
    color:rgb(142, 142, 142);
    display: flex;
    width: 300px;
    height: 75px;
    justify-content: end;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.976);
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: 
   12px 12px 16px 0 rgba(0, 0, 0, 0.25),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}
footer{
    padding:10px;
    padding-left: 100px;
    padding-right:100px;
    
    background-color:rgba(245, 245, 245, 0.976);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 
   12px 12px 16px 0 rgba(0, 0, 0, 0.25),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
   border-radius: 10px;
   margin-bottom: 10px;
}

#mul{
    color: rgba(255, 189, 75, 0.874);
    font-size: x-large;
}
#div{
    color: rgb(155, 212, 210);
    font-size: xx-large;
}

#add{
    color: rgba(247, 171, 171, 0.983);
    font-size: xx-large;
}

#sub{
    color: rgba(192, 140, 201, 0.874);
    font-size: xx-large;
}

a{
    text-decoration: none;
    color: rgb(142, 142, 142) ;
}
a:hover{
    color:rgba(245, 245, 245, 0.976);
}
label {
    display: block;
    width: 54px;
    height: 32px;
    margin: 0px auto;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    background-color: #E6E9EC;
  }
  
  input {
    display: none;
  }
i {
    height: 28px;
    width: 28px;
    background: #ffffff;
    display: inline-block;
    border-radius: 100px;
    margin-top: 2px;
    margin-left: 2px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    pointer-events: none;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }
  
  label:hover>i {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.20);
    transform: scale(1.01);
  }
  
  input:checked+label>i {
    margin-left: 24px;
  }
  
  label:active {
    background-color: #A6B9CB;
  }
  
  label:active>i {
    width: 34px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
  }
  
  input:checked+label:active>i {
    margin-left: 18px;
  }
  
  input:checked+label {
    background-color: rgb(142, 142, 142);
  }

.dark-mode{
  background-color: rgb(56, 56, 56);
  color:#E6E9EC;
}



